header{
    height: $height-header;
    width: 100%;
    padding: 5px 7%;
    margin: 0;
    background-color: $base-c;
    @include device-width($lg) {
        padding: 5px 15%
    }
    .menu-logo{
        height: 100%;
        float: left;
    }
    .menu{
        height: 100%;
        max-width: 85%;
        float: right;
        padding: 0;       
        >.options, .me{
            transition: max-height 0.6s;
            margin: 0px;
            display: inline-block;
            >li{
                border-top: 2px solid transparent;
                padding-top: 5px;
                margin: 0 5px;
                &:hover, &.active {
                    border-top: 2px solid #fff;
                }
            }
            li{
                @include fonts($base-font, 18px, initial);
                display: inline-block;
                text-align:center;
                cursor: pointer;
                position: relative;
                a {
                    display: inline-block;
                    color: #FFF;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:hover .more {
                    display: block;
                    left: 0;
                }
                .more>li:hover .even-more {
                    display: block;
                    left: 100%;
                    top: 0;
                    border-left: 2px solid #fff;
                }
                .more, .even-more {
                    display: none;
                    position: absolute;
                    background-color: #174368;
                    margin: 0px;
                    padding: 0px;
                    display: none;
                    cursor: pointer;
                    z-index: 6;
                    min-width: 150%;
                    li {
                        min-width: 100%;
                        padding: 5px 2px;
                    }
                    a {
                        color: #FFF;
                        width: 100%;
                        &:hover {
                            color: #174368;
                            background-color: #fff;
                        }
                    }
                }
                @include device-width($sm, max-width) {
                    text-align:left;
                    margin: 0;
                    width: 100%;
                    background-color: white;
                    padding: 1%;
                    a {
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        border-bottom: none;
                        background-color: darken(white, 10%);
                    }
                }
            }
            
            @include device-width($sm, max-width) {
                @include onlyContent();
                position: absolute;
                top: $height-header;
                left: 0;
                z-index: 6;
                max-height: 0;
                width: 100%;
                overflow: hidden;
                border-bottom: 4px solid $base-c;
                >li a {
                    color: $base-c;
                }
            }
        }
        input[type=checkbox] {
            display:none;
            @include device-width($sm, max-width) {
                &:checked ~ .options {
                    max-height: 300%;
                }
            }
        }
        label {
            color: #FFF;
            height: auto;
            cursor: pointer;
            user-select: none;
            display: none;
            @include device-width($sm, max-width) {
                position:relative;
                display:block;
                font-size: 40px;
                z-index: 6;
                float: right;
            }
        }
    }
}

.me {
    position: relative;
    color: #FFF;
    img {
        border-radius: 50%;
        display: inline-block;
        width: 40px;
        background-color: yellow;
        height: 40px;
    }
    ul {
        position: absolute;
        right: 0;
        background-color: $base-c;
        z-index: 5;
        margin: 0;
        padding: 0;
        li, a {
            color: #FFF;
            width: 100%;
            text-align: center;
            &:hover {
                background-color: #FFF;
                color: $base-c!important;
            }
        }
        li {
            padding: 5px;
            &:hover {
                background-color: #FFF;
                color: $base-c!important;
            }
        }
    }
    #me-menu {
        display: none;
    }
}