.card {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 15px;
    margin: 7.5px 0;
    background-color: #FFF;
}

.posts {
    .card {
        padding: 0;
    }
}

.post-header, .discipline-header {
    position: relative;
    border-bottom: 1px solid $base-c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    img {
        width: 60px;
        height: 60px;
        background-color: pink;
        @include border-radius(50%);
        display: inline-block;
        margin-right: 5px;
        float: left;
    }
    h4, span {
        width: calc(100% - 70px);
        display: inline-block;
        float: left;
        margin-bottom: 0;
    }
    .config {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 26px;
        cursor: pointer;
    }
    .config-menu {
        max-height: 0px;;
        @include onlyContent();
        right: 0;
        top: 28px;
        position: absolute;
        text-align: center;
        background-color: $base-c;
        overflow: hidden;
        transition: all 0.3s ease 0s;
        li {
            cursor: pointer;
            padding: 5px;
            margin: 1px;
            background-color: #fff;
            &:hover {
                background-color: $base-c;
                color: #FFF;
            }
        }
    }
    &:after {
        @extend %clearFix;
    }
}

.discipline {
    width: 100%;
    border: 1px solid $base-c;
    margin: 0px 0 15px 0px;
}

.discipline-header {
    .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    border-bottom: 0;
}

.post {
    padding: 15px;
    &:after {
        @extend %clearFix;
    }
    &-footer {
        text-align: right;
    }
}

.comments-box {
    padding: 15px;
    background-color: #F6F7F8;
    width: 100%;
    .comment {
        margin-bottom: 15px;
        img {
            float: left;
        }
        &:after {
            @extend %clearFix;
        }
    }
    img {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        margin-right: 5px;
        border:  1px solid #ABCFCD;
        display: inline-block;
    }
    p {
        width: calc(100% - 50px);
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .do-comment {
        input {
            width: calc(100% - 50px);
            background-color: #FFF;
            border: 1px solid #ABCFCD;
            padding: 5px;
        }
    }
}

#signup{
    display: none;
}

.login-form{
    width: 50%;
    height: 70%;
    background-color: #FFF;
    margin: 3% auto auto;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    display: none;
}

.logo-header{
    width: 50px;
    display: inline;
    height: 100%;
    img{
        height: 100%;
    }
}

.rg{
    float: right;
}

.up{
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.sign {
    label{
        display: block;
    }
    input,select{
        width: 100%;
        height: 42px;
        margin: 5px auto;
        font-size: 14px;
        padding: 8px 12px;
        color: #555;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 5px;
    }
    input:focus {
        border-color: #31837D;
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 4px #30D9D0;
    }
}

.lf{
    float: left;
    padding-right: 50px;
    text-align: center;
    h2, p{
        margin-top: 15px;
        text-align: justify;
    }
    .hashtags{
        text-align: center!important;
    }
     h2, .hashtags, p>a {
         color: #22313F
    }
    .img-welcome{
        width: 60%;
    }
}