.tag, .btn {
    border: 1px solid $base-c;
    @include border-radius(2px);
    display: inline-block;
    padding: 5px 15px;
    background-color: #FFF;
    cursor: default;
}

.tag-discipline {
    cursor: pointer;
    border-color: #ff8a84;
    &:hover {
        color: #FFF;
        background-color: #ff8a84;
    }
}

.btn{
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    &-default {
        background-color: $base-c;
        color: #FFF;
        &:hover {
            background-color: lighten($base-c, 2%);
        }
    }
    &-danger {
        background-color: #ff8a84;
        border-color: #ff8a84;
        color: #FFF;
        &:hover {
            background-color: lighten(#ff8a84, 2%);
        }
    }
    &:hover {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18), 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    }
    &-full {
        width: 100%;
        &:hover, &.active {
            background-color: $base-c;
            color: #FFF;
            border-color: #FFF;
        }
    }
    &-area {
        margin-top: 15px;
        width: 100%;
        &:hover, &.active {
            background-color: $base-c;
            color: #FFF;
        }
    }
    &-index{
        padding: 14px 40px;
        background-color:#25A398;
        cursor: pointer;
        color: #FFF;
        border:1px;
        border-radius: 5px;
    }
    &-index:hover{
        background-color: #06D2C7;
        background-position: 0px -15px;
    }
    &:disabled {
        background-color: lighten($base-c, 50%);
        color: lighten(#000, 30%);
    }
}

.sign-btn{
    width: 40%;
    font-size: 14px;
    padding: 8px 6px;
    margin-top: 5px;
}